{% extends "base.html" %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="row justify-content-center vh-100">
  <div class="col-md-5 my-auto">
    <h1 class="text-center">Create an account</h1>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.email.label(class_="font-weight-bold") }}
        {{ form.email(class_="form-control") }}
      </div>
      <div class="form-group">
        {{ form.username.label(class_="font-weight-bold") }}
        {{ form.username(class_="form-control")}}
      </div>
      <div class="form-group">
        {{ form.password.label(class_="font-weight-bold") }}
        {{ form.password(class_="form-control") }}
      </div>
      {{ form.submit(class_="btn btn-primary btn-block mb-3") }}
    </form>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
  </div>
</div>
{% endblock %}